<div class="page" data-name="search">
    <div class="navbar clearfix">
        <div class="navbar-inner">
            <div class="micon">
                <!-- <a class="panel-open" href="#">
                    <i class="fas fa-bars"></i>
                </a> -->
                <a href="#" class="link back">Back</a>
            </div>
            <div class="title">M-Play</div>
            <div class="search">
                <!-- <i class="fas fa-search"></i> -->
            </div>
        </div>
        <div class="subnavbar">
            <!-- Searchbar with auto init -->
            <div class="searchbar">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Search" id="search">
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">

        <div class="main">
            <div class="list media-list">
                <ul id="list-search">
                    
                   
                </ul>
            </div>
        </div>
    </div>
</div>