<div class="page" data-name="video">

    <div class="navbar">
            <div class="navbar-inner">

              <div class="left">
                    
                    <a href="" data-panel="left"  onclick="showMenu()" class="link panel-close">
                    <i class="app-icon icon-menu white">&#xf0c9;</i>
                    <span class="ios-only white">Menu</span>
                    </a>
             </div>    
 
             
              
              <div class="title">M-PLAY</div>
                 
             
            </div>

    </div>

  <div class="page-content">


 <div class="block">
   
   <div class="center">
 

     <div class="row">
      <div class="videoyoutube">

        <iframe width="100%" height="200"  frameborder="0" allowfullscreen>
          

        </iframe></div> 


     </div>


   </div>
 </div>
    
    </div>
  </div>
</div>